DB_HOST=localhost
DB_PORT=5433
DB_USER=admin
DB_PASSWORD=adminpassword
DB_GATEWAY=vet_clinic_gateway
DB_PACIENTES=bd_pacientes
DB_CITAS=bd_citas
DB_HISTORIAL=bd_historial

API_GATEWAY_PORT=3000
PACIENTES_PORT=3001
CITAS_PORT=3002
HISTORIAL_PORT=3003

PACIENTES_SERVICE_URL=http://localhost:3001
CITAS_SERVICE_URL=http://localhost:3002
HISTORIAL_SERVICE_URL=http://localhost:3003
